{{#> layout }}

{{#if logged}}

<h3>Add a new site</h3>
<form class="w-50" method="post">
  <label for="name" class="form-label">Enter Name</label>
  <input id="name"  class="form-control" name="name" type="text" />
  <label for="url" class="form-label mt-3">Enter URL</label>
  <input id="url"  class="form-control" name="url" type="text" />
  <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>

<hr>
<h3>All sites</h3>

<table class="table">

  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>URL</th>
    <th>Created</th>
  </th>
  {{#each sites}}
  <tr>
    <td>{{ id }}</td>
    <td>{{ name }}</td>
    <td>{{ url }}</td>
    <td>{{ createdAt }}</td>
  </tr>
  {{/each}}
</table>

<br>
<br>
<br>

<p>Add this inside <b>head</b> </p>
<textarea cols="75"><script src="https://{{ host }}/tracker/js"></script></textarea>

<p>Add this just before <b>/body</b> and replace --SITE_ID--</p>
<textarea cols="75"><script>march("--SITE_ID--");</script></textarea>

{{/if}}

{{/layout}}